::-webkit-scrollbar{
        width: 10px;
}
::-webkit-scrollbar-thumb{
        background: linear-gradient(to top,#008aff,#00ffe7);
}


/* heder start */
.banner{
        position: relative;
        display: flex;
        align-items: center;
        background: linear-gradient(#404040,#151415);
}



.banner::before{
        content: '';
        position: absolute;
        top: 0;
        left: 300px;
        width: 300px;
        height: 140px;
        z-index: 1;
        transition: 1s;
}

.banner.active::before{
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
}
.banner::after{
        content: '';
        position: absolute;
        bottom: 0;
        right: 100px;
        width: 330px;
        height: 150px;
        z-index: 1;
        transition: 1s;
}
.banner.active::after{
        bottom: 0;
        right: 0;
        width: 50%;
        height: 100%;
}

.banner.active .logo{
        transform: scale(0);
        transform-origin:left;
}
/* header end */
/* main start */

.video{
        display: flex;
        width: 100%;
        height: 100%;
}
.video .clipDown{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
}
.video .clipDown.clip16
{
        background-image: url("/img/2.jpg");
        width: 100%;
        height: 100%;
        background-size: cover;
}
.video .sphere{
        position: absolute;
        top: 0;
        left: 0;
        width: 350px;
        height: 250px;
        border-radius: 0%;
        z-index: 10;
}
.video .sphere::after{
        content: '';
        position: absolute;
        bottom: -50px;
        left: -50px;
        width: 450px;
        height: 80px;
        border-radius: 50%;
        background: radial-gradient(white,transparent,transparent);
        z-index: -1;
}
.video .sphere video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        filter: blur(0);
}
.main{
        margin-top: 52px;
        background-color: #20242C;
        color: #08FFFF;
}
.Main-Download{
        direction: rtl;
        cursor: pointer;
}
.part1{
        display: flex;
        justify-content: space-between;
        padding: 10px 18px;
        font-size: 1.2rem;
}
.part2{
        display: flex;
        justify-content: space-between;
        padding: 10px 18px;
}
.IMDB-part i{
        color: gold;
        font-size: 1.5em;
}
.IMDB-part big{
        color: white;
        font-size: 1.5em;
        padding: 0px 4px;
}
.IMDB-part small{
        color: #08FFFF;
        font-size: 1em;
        padding: 0px 4px;
}
.IMDB-part span{
        background-color: gold;
        color: black;
        border: 0.5px solid #404040;
        padding: 5px 5px;
        font-weight:bold;
        border-radius: 10%;
        margin: 0px 6px;
}
.IMDB-part span:hover{
        color: white;
        transition: 0.6s;
}
.country-part i{
        font-size: 1.2em;
}
.country-part span{
        color: white;
        font-size: 1.1em;
        padding: 0px 7px;
}
.country-part span:hover{
        color: #03a2be;
        transition: 0.6s;
}
.pay-part i{
        font-size: 1.2em;
}
.pay-part span{
        color: white;
        font-size: 1.1em;
        padding: 0px 7px;
}
.min-part i{
        font-size: 1.2em;
}
.min-part span{
        color: white;
        font-size: 1.1em;
        padding: 0px 7px;
}
.max-part{
        display: grid;
        padding: 10px 18px;
}
.max-part span{
        color: #08FFFF;
}
.max-part big:hover{
        color: #03a2be;
        transition: 0.6s;
}
.max-part big{
        color: white;
}
.matn-part span{
        color: #08FFFF;
        font-size: 1.3em;
}
.matn-part p{
        color: white;
        font-size: 1.2em;
}
.number-part span{
        color: white;
        font-size: 1.2em;
}
.number-part small{
        color: #08FFFF;
        font-size: 1em;
}
.number-part big{
        font-size: 1.1em;
}
.age-part span{
        color: white;
        font-size: 1.2em;
}
.age-part big{
        color: gold;
}
.part4{
        padding: 10px 18px;
}
.link{
        direction: rtl;
        color: white;
}
.user-info{
        background: #3598DB;
        color: white;
        height: auto;
        padding: 20px 10px;
        width: 100%;
}
.img-name{
        display: flex;
        justify-content: space-between;
}
.DownloadDetails{
        display: flex;
        justify-content: space-between;
        padding: 25px 0px;
}
.DownloadDetailsOff{
        display: none;
        padding: 5px 10px;
        text-align: center;
}
.main-link{
        display: flex;
}
.main-link i{
        color: black;
        font-size: 1.1em;
}
.main-link span{
        padding: 0px 5px;
        font-size: 1.2em;
}
.main-link big{
        padding: 0px 5px;
        font-size: 1.1em;
}
.main-link small{
        padding: 0px 5px;
        font-size: 1.1em;
}
.main-link small span{
        padding: 0px 5px;
        font-size: 1.1em;
}
.main-link span h4{
        display: flex;
        padding: 0px 5px;
        font-size: 1.1em;
}
.buttom-link a button{
        color: white;
        background:linear-gradient(#E74D3D,#7B57E2,#3598DB);
        padding: 10px 25px;
        border-radius: 20px;
}
.buttom-link2 a button{
        color: white;
        background:linear-gradient(#E74D3D,#7B57E2,#3598DB);
        width: 80%;
        height: 9vh;
        border-radius: 20px; 
        font-size: 1.2rem;
        font-weight: bold;
}
.user-info2{
        background-color: #282C33;
        color: #04EEC8;
        height: 100%;
        padding: 20px 10px;
        width: 100%;
}
.img-name2{
        display: flex;
        justify-content: space-between;
}
.details2{
        display: none;
        padding: 5px 10px;
        text-align: center;
}

.user-info3{
        background-color: #282C33;
        color: #04EEC8;
        height: 100%;
        padding: 20px 10px;
        width: 100%;
}
.img-name3{
        display: flex;
        justify-content: space-between;
}
.details3{
        display: none;
        padding: 5px 10px;
        text-align: center;
}
/* part 2 end */
/* main end */
@media screen and (max-width:1200px)
{
        .DownloadDetails{
                font-size: 0.8rem;
        }
}
@media screen and (max-width:991px)
{
        header{
                padding: 20px 40px;
        }
        .banner{
                overflow: hidden;
        }
        .DownloadDetails{
                display: flex;
                flex-wrap: wrap;
        }
        .buttom-link{
                position: relative;
                left: 40%;
                margin-top: 25px;
        }
}
@media screen and (max-width: 769px){
        .video .sphere{
                left: 0;
                width: 300px;
                height: 200px;
        }
        .video .sphere::after{
                width: 400px;
                height: 70px;
        }
        .part1{
                font-size: 1rem;
        }
        .part2{
                font-size: 0.8em;
        }
        .part3{
                font-size: 0.8em; 
        }
        .DownloadDetails{
                font-size: 0.6rem;
        }
}
@media screen and (min-width: 60px) and (max-width: 530px){
        .video .sphere{
                left: 0;
                width: 200px;
                height: 150px;
        }
        .video .sphere::after{
                width: 300px;
                height: 70px;
        }
}
@media screen and (max-width: 465px){
        .part1{
                font-size: 0.8rem;
        }
        .part2{
                font-size: 0.6em;
        }
        .part3{
                font-size: 0.6em; 
        }
        .DownloadDetails{
                font-size: 0.5rem;
        }
        .buttom-link{
                position: relative;
                left: 35%;
        }
}
@media screen and (max-width: 360px){
        .part1{
                font-size: 0.65rem;
        }
        .part2{
                font-size: 0.5em;
        }
        .part3{
                font-size: 0.5em; 
        }
        .img-name{
                font-size: 0.6em; 
        }
        .buttom-link{
                position: relative;
                left: 28%;
        }
}
@media screen and (min-width: 60px) and (max-width: 850px){
        .video .clipDown.clip16{
                background-image: url("/img/12.jpeg");
        }
}