* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-display: swap;
}

:root{
  --backgroundAll:black;
  --backgroundPart:#1c2027;
  --Colorbackground:#02e4cd;
  --backgroundPartTitleSub:#00D4AD;
  --ColorPartTitleSubSPAN:rgb(6, 6, 6);
  --ColorPartBorder:#02e4cd;
  --ColorLogo:#fff;
}
html,
body {
  /* max-width: 100vw; */
  overflow-x: hidden;
  background: var(--backgroundPart);
}
