.fullpart{
        display: flex;
}
.AllMain{
        background:#111111;
}

.textCollection span{
        color: #00D4AD;
        font-size: 1.2rem;
}
.text-one{
        cursor: pointer;
}
.text-one a{
        text-decoration: none;
}
.fil{
        color: red;
        font-size: 1.1rem;
        padding: 10px 5px;
}
.poster-film img{
        width: 32%;
        height: 25vh;
        padding: 5px 5px;
        cursor: pointer;
}
.poster-film img:hover{
        opacity: 0.7;
}
.submit-one{
        border: 2px solid #173D41;
        background-color: #173D41;
        cursor: pointer;
        height: 5vh;
}
.submit-one a{
        text-decoration: none;
}
.partserial img{
        width: 100%;
}
.partserial img:hover{
        filter: contrast(150%);
}
.serialpart{
        display: flex;
        justify-content: space-between;
        cursor: pointer;
}
.serialpart a{
        color: #00D4AD;
        font-size: 0.85rem;
        text-decoration: none;
}
.trailer img{
        width: 100%;
}
.trailer img:hover{
        filter: contrast(150%);
}
.serialpart2{
        position: relative;
        top: -1.5pc;
        display: flex;
        justify-content: space-between;
        color: #00D4AD;
        font-size: 0.85rem;
        cursor: pointer;
}
.list ul li span{
        color: #00D4AD;
}
.list ul li a{
        text-decoration: none;
}
.list ul li{
        font-size: 1rem;
}
.class{
        padding: 0 1%;
        background-color: #111111;
}
/* part 2 start */
.postrs span{
        font-size: 1.2rem;
        color: #04EEC8;
        border: 2px solid #111111;
        background-color: #111111d8;
}
.postrs img{
        height: 70vh;
}
.img-name{
        display: flex;
        justify-content: space-between;
}
.details{
        display: flex;
        justify-content: space-between;
        margin: 15px 15px;
}
.listdata{
        border: 1px solid black;
        padding: 15px 15px;
        
}
.listdata input{
        background-color: #282C33;
        border: none;
        outline: none;
}
.details input{
        border-radius: 45px;
        background-color: #20242C;
        color: #04EEC8;
        margin-top: 7px;
        text-align: center;
        outline: none;
}
.reza{
        display: flex;
        justify-content: space-between;
} 
/* START Card Film */
.Film-section{
        color:white;
        display: flex;
        direction: rtl;
        margin: 5% 0%;
        border-left: 5px dotted #04EEC8;
}
.Film-section .Film-section-Rigth{
        width: 35%;
        height: 100%;
}
.Film-section .Film-section-Rigth:hover{
        box-shadow: 4px 4px 30px #00D4AD;
}
.Film-section .Film-section-Left{
        width: 100%;
        padding:1% 3%;
}
.Film-section .Film-section-Left .Film-section-headeTitle{
        display: flex;
        justify-content: space-between;
}
.Film-section .Film-section-Left .Film-section-headeTitle .Film-section-TitleName a{
        text-decoration: none;
        color: white;
        font-size: 1.2em;
}
.Film-section .Film-section-Left .Film-section-headeTitle .Film-section-IMDB{
        display: flex;
        justify-content: space-between;
}
.Film-section .Film-section-Left .Film-section-headeTitle .Film-section-IMDB i{
        padding: 0px 0px 0px 10px;
        color: gold;
}
.Film-section .Film-section-Left .Film-section-headeTitle .Film-section-IMDB span{
        padding: 0px 0px 0px 5px;
        color:  #00D4AD;
}
.Film-section .Film-section-Left .Film-section-headeTitle .Film-section-IMDB small{
        color:  white;
}
.Film-section .Film-section-Left .Film-section-headeTitle .Film-section-IMDB .Film-section-IMDB-IMDB span{
        color: white;
        background-color: #464232;
        padding: 5px 5px;
        font-weight:bold;
        border-radius: 10%;
}
.Film-section .Film-section-Left .Film-section-headeTitle .Film-section-IMDB .Film-section-IMDB-IMDB span:hover{
        cursor: pointer;
        background-color: #F3C74D;
        transition: 0.6s;
}
.Film-section .Film-section-Left .Film-section-Information{
        display: flex;
        justify-content: space-between;
        padding-top: 2%;
}
.Film-section .Film-section-Left .Film-section-Information .Film-section-TitleFilm ul{
        list-style-type: none;
}
.Film-section .Film-section-Left .Film-section-Information .Film-section-TitleFilm i{
        padding: 0px 0px 0px 10px;
        color:  #00D4AD;
}
.Film-section .Film-section-Left .Film-section-Information .Film-section-TitleFilm .Film-section-TitleFilm-genre{
        padding: 0px 0px 0px 7px;
        color:  #00D4AD;
}
.Film-section .Film-section-Left .Film-section-Information .Film-section-score {
        font-size:0.8em;
        font-weight: bold;       
}
/* END Card Film */