.SmallSliderShow {
        width: 100%;
        height: auto;
        text-align: center;
        margin-top: 2%;
}
.SmallSliderShow2 img{
        width: 40%;
        height: 100%;
}
.swiper-pagination-bullet-active {
        background-color: var(--Colorbackground) !important;
}
.BigSliderShow {
        width: 100%;
        height: 14%;
}
.BigSliderShow2 {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #20242C;
}

.BigSliderShow2 img {
        width: 100%;
        height: 100%;
}

.BigSliderShow2 .title {
        font-size: 41px;
        font-weight: 300;
        color: var(--Colorbackground);
        border: 2px solid #111111;
        background-color: #111111d8;
        width: 100%;
}
.BigSliderShow2 .title img {
        width: 100%;
        height: 100%;
        background-size: cover;
}

.PartTitle a{
        text-decoration: none ;
}

@media screen and (max-width: 991px){
        .BigSliderShow {
                width: auto;
                height: 14%;
        }
        .BigSliderShow2 .title img {
                height: 100%;
                width: 100%;
                background-size: cover;
        }
        .BigSliderShow2 .title {
                font-size: 27px;
                font-weight: 300;
        }
}
@media screen and (max-width: 728px){
        .BigSliderShow {
                width: auto;
                height: 11%;
        }
}
@media screen and (max-width: 576px){
        .BigSliderShow {
                width: 100%;
                height: 11%;
        }
        .BigSliderShow2 .title img {
                height: 100%;
                width: 100%;
                background-size: cover;
        }
        .BigSliderShow2 .title {
                font-size: 21px;
                font-weight: 300;
        }
        .SmallSliderShow2 img {
                width: 50%;
                height: 100%;
        }
}
@media screen and (max-width: 450px){
        .BigSliderShow {
                width: 100%;
                height: 10%;
        }
        .BigSliderShow2 .title img {
                height: 100%;
                width: 100%;
                background-size: cover;
        }
        .BigSliderShow2 .title {
                font-size: 17px;
        }
}